.video__box {
  width: 583px;
  border-radius: 5px;
}

.video__box:first-child {
  margin-right: 30px;
}

@media (max-width: 1270px) {
  .video__box {
    width: 100%;
  }
  .video__box:first-child {
    margin-right: 0;
  }
}