.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
  }
}

@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
    margin: 0 48px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  }
}

@media (max-width: 770px) {
  .photo-grid {
    gap: 16px;
    margin: 0 24px;
  }
}

@media (max-width: 330px) {
  .photo-grid {
    width: 288px;
    margin: 0 auto;
    gap: 12px;
  }
}